* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $uoc-corporate;
  background-color: $uoc-bg;
}

// Lo que yo he añadido
.nav {
  margin: 2rem;
}

.nav-link {
  margin: 2rem;
  color: $uoc-corporate;
}

.nav-link.active{  
  font-size: large;
  font-weight: bold;
}

.img-thumbnail.logo-tennis-top {
  width: 6%;
  background-color: transparent;
  border: transparent;
}

.img-thumbnail.logo-tennis-bottom{
  width: 6%;
  background-color: transparent;
  border: transparent;
}

.main-text {
  margin: 2rem;
  text-align: justify;
  h1 {
    margin-bottom: 2rem;
    font-family: $font-family-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: $uoc-corporate; 

    @media (min-width: $mqMinWidth) {
      font-size: 36px;
    }
  }
  p{
    margin-right: 18rem;
    margin-left: 18rem;
  }
  p.especial {
    text-align: center;
  }
}

h1{ 
  text-align: center;
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate; 

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.patrocinador{
  margin-bottom: 3rem;
}

.div-participantes {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente 
                      fila si no caben en el ancho de la pantalla */
  justify-content: space-between; /* Espacio igual entre los elementos */
  text-align: center;
  border-bottom: 0.2cqmin solid black; // nueva unidad de tamaño
  border-top: 0.2cqmin solid black; // nueva unidad de tamaño
  img {
    border-radius: 25px;
  }
  h2 {
    margin-top: 1rem;
    font-weight: bold;
  }
  h3{
    margin-bottom: 5rem;
  }
  iframe{
    margin-bottom: 6rem;
  }
}

.logoWimbledon {
  margin-top: 5rem;
}

.participanteLine {
  border-bottom: 0.2cqmin solid black; // nueva unidad de tamaño
}

p.participantes {
  text-align: center;
}

h2.wimbledon { 
  color: rgb(38, 167, 96); 
}

h2.roland-garros{
  color: color(display-p3 0.833 0.566 0.233 / 1); // nueva función de color. If you use Display-P3, you get a wider range of access to these vibrant colors
}

h2.ausOpen{
  color: rgb(70, 139, 196); 
}

h2.usOpen{
  margin-top: 8rem;
  color: rgb(33, 57, 167);
}

.logoAo{
  margin-left: 10rem;
}

.logoUsOpen{
  margin-top: 8rem;
}

.container.centrar-verticalmente {
  margin-bottom: 15rem;
}
.carousel-item{
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black; /* Cambia este color según tus preferencias */
  color: black; /* Cambia este color si es necesario para el icono */
}

.consejo{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  button, button:hover{
    background-color: black;
    color: white;
  }
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

.toast-container {
  position: fixed;
  bottom: 7rem;
  right: 6rem;
}

.content {
  text-align: center;
  align-items: center;
  justify-content: center;
  p{
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
  }
  h4{
    margin-top: 4rem;
  }
  .ulCentro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  ul {
    text-align: justify;
    font-weight: bold;
  }
  // :is() toma una lista de selectores como argumento y selecciona cualquier elemento que pueda ser seleccionado por uno de los selectores en esa lista
  :is(ol, ul) :is(ol, ul){
    font-weight: normal;
  }
  :is(ol, ul) :is(ol, ul) :is(ol, ul) {
    list-style-type:lower-roman;
    color: chocolate;
  }
}
//El siguiente selector selecciona únicamente los elementos <bloqckquote> que contienen <p> hijo:
blockquote:has(> p) { 
  font-size: large;
  font-style: italic;
}

// Aquí termina lo que yo he añadido

footer * {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  justify-content: center;
}

@supports(display: grid){
  body.grid{
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows: auto auto auto auto;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: $uoc-bg;
    color: $uoc-corporate;
  }
  
  .nav.mainNav{
    grid-column: 1 / -1;
    grid-row: 1;
  }

  // Lo que yo he añadido
  .nav {
    margin: 2rem;
  }
  
  .nav-link {
    margin: 2rem;
    color: $uoc-corporate;
  }
  
  .nav-link.active{  
    font-size: large;
    font-weight: bold;
  }
  
  .img-thumbnail.logo-tennis-top {
    background-color: transparent;
    border: transparent;
    width: 6%;
  }
  
  .img-thumbnail.logo-tennis-bottom{
    background-color: transparent;
    border: transparent;
    width: 6%;
  }
  
  .img-fluid {
    grid-column: 1 / -1;
    grid-row: 2;
  }
  
  .main-text {
    grid-column: 2 / 3;
    grid-row: 3;
    margin: 2rem;
    text-align: justify;
    h1 {
      margin-bottom: 2rem;
      text-align: center;
      font-family: $font-family-serif;
      font-size: 24px;
      font-weight: 700;
      color: $uoc-corporate; 
  
      @media (min-width: $mqMinWidth) {
        font-size: 36px;
      }
    }
    p{
      margin-right: 18rem;
      margin-left: 18rem;
    }
    p.especial {
      text-align: center;
    }
  }
  
  // Aquí termina lo que yo he añadido
  
  footer * {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    justify-content: center;
  }
  footer{
    grid-column: 1 / -1;
    grid-row: 4;
  }
}